@media (min-width: 1024px) {
    .size {
        width: 22%;
        margin: 15px 0;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .size {
        width: 47%;
        margin: 10px 0;
    }
}

@media (max-width: 739px) {
    .size {
        width: 94%;
        margin: 5px 0;
    }
}